/* --- IMPORTAÇÃO DE FONTES --- */
@font-face {
    font-family: 'Paradocx';
    src: url('../fonts/PARADOCX_CA-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

:root {
    --cor-fundo: #f4f4f4;
    --cor-texto: #333;
    --cor-caixa-fundo: white;
    --cor-caixa-borda: #333;
    --cor-header-texto: #2c3e50;
    --cor-switch-desligado: #ccc;
    --cor-switch-ligado: #483D8B;
    --cor-fundo-edicao: rgba(138, 43, 226, 0.08);
    --cor-input-fundo: #fff;
    --cor-input-borda: #ccc;
    --cor-brilho-edicao: rgba(138, 43, 226, 0.25);
    --cor-sidebar-fundo: #ffffff;
    --cor-sidebar-sombra: rgba(0,0,0,0.2);

    /* Fontes */
    --fonte-titulo: 'Paradocx', serif;
    --fonte-texto: 'JetBrains Mono', monospace;
}

body.dark-theme {
    --cor-fundo: #121212;
    --cor-texto: #e0e0e0;
    --cor-caixa-fundo: #1e1e1e;
    --cor-caixa-borda: #555;
    --cor-header-texto: #e0e0e0;
    --cor-switch-desligado: #555;
    --cor-switch-ligado: #8A2BE2;
    --cor-fundo-edicao: rgba(138, 43, 226, 0.2);
    --cor-input-fundo: #2a2a2a;
    --cor-input-borda: #555;
    --cor-brilho-edicao: rgba(138, 43, 226, 0.35);
    --cor-sidebar-fundo: #1a1a1a;
    --cor-sidebar-sombra: rgba(0,0,0,0.5);
}