/* --- IMPORTAÇÃO DE FONTES --- */
@font-face {
    font-family: 'Paradocx';
    src: url('../fonts/PARADOCX_CA-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

:root {
    --cor-fundo: #f4f4f4;
    --cor-texto: #333;
    --cor-caixa-fundo: white;
    --cor-caixa-borda: #333;
    --cor-header-texto: #2c3e50;
    --cor-switch-desligado: #ccc;
    --cor-switch-ligado: #483D8B;
    --cor-fundo-edicao: rgba(138, 43, 226, 0.08);
    --cor-input-fundo: #fff;
    --cor-input-borda: #ccc;
    --cor-brilho-edicao: rgba(138, 43, 226, 0.25);
    --cor-sidebar-fundo: #ffffff;
    --cor-sidebar-sombra: rgba(0,0,0,0.2);
    --cor-glass-title:  linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgb(0, 0, 0, 0.3));
   
    /* Fontes */
    --fonte-titulo: 'Paradocx', serif;
    --fonte-texto: 'JetBrains Mono', monospace;
}

body.dark-theme {
    --cor-fundo: #121212;
    --cor-texto: #e0e0e0;
    --cor-caixa-fundo: #1e1e1e;
    --cor-caixa-borda: #555;
    --cor-header-texto: #e0e0e0;
    --cor-switch-desligado: #555;
    --cor-switch-ligado: #8A2BE2;
    --cor-fundo-edicao: rgba(138, 43, 226, 0.2);
    --cor-input-fundo: #2a2a2a;
    --cor-input-borda: #555;
    --cor-brilho-edicao: rgba(138, 43, 226, 0.35);
    --cor-sidebar-fundo: #1a1a1a;
    --cor-sidebar-sombra: rgba(0,0,0,0.5);
    --cor-glass-title:  linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgb(255, 255, 255, 0.3));
}

/* Previne estouro horizontal geral */
body, html {
    overflow-x: hidden;
    max-width: 100vw;
}

/* Garante que textos longos quebrem a linha */
.pilar-titulo, .pilar-descricao, p, span {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; /* Força quebra de linha se necessário */
}

/* Imagens responsivas (Logo, etc) */
img {
    max-width: 100%;
    height: auto;
}

/* Inputs em formulários/modais */
input, textarea, select {
    max-width: 100%; /* Não deixa o input vazar do modal */
    box-sizing: border-box;
}